.SignUp-main {
    width: 33vw;
    height: 639px;
    top: 67px;
    left: 836px;
    border-radius: 12px;
    background: white;
    align-items: flex-start;
}

.SignUp-submain {
    padding: 20px;
}

.SignUp-text {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.6899999976158142px;
    text-align: left;
}

.input-div {
    /* background-color: aqua; */
    display: flex;
    height: 25px;
    top: 304px;
    left: 860px;
    padding: 15px 0px 15px 16px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 15px 0px;
}

.text-div {
    width: 100%;
    margin: 0 10px;
}

.text-div input {
    height: 100%;
    width: 100%;
    font-size: large;
    border: none;
    outline: none;
    letter-spacing: 1px;
}

.Show_pass {
    margin-right: 5px;
}

.tnc {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;

}

.SignUp-main-4 {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.signup-text-2 {
    background-color: rgba(7, 99, 198, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.6899999976158142px;
}

.login-div {
    text-align: center;
}

.login-ul {
    color: rgba(7, 99, 198, 1);
    text-decoration: underline;
}